#head {
    background-color: rgb(182, 223, 250);
    
    
}
#logo {
    width: 150px;
    padding-left: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
h1 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;

}