#head {
    background-color: rgb(182, 223, 250);

}
#main {
    margin-top: 40px;
    margin-bottom: 40px;
    
}
#logo {
    width: 150px;
    padding-left: 1px;
    padding-top: 30px;
    padding-bottom: 30px;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}

#dt {
    color: blue;

}

#sottot {
    font-size: 15px;
    line-height: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#data {
    font-size: 10px;
    line-height: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sottof {
    font-size: 12px;
    line-height: 1px;
}

#text {
    background-color: yellow;
}
#lista {
    padding-left: 12px;
}
th {
    color: aliceblue;
    background-color: cornflowerblue;
    text-align: left;
    width: 500px;
    height: 1px;
    
}
#tr1 {
    background-color: rgb(214, 226, 247);
}
#tr2 {
    background-color: rgb(214, 226, 247);
}
#chiusura{
    text-align: center;
    color: aliceblue;
}

#footer {
    background-color: midnightblue;
    padding-top: 8px;
    padding-bottom: 8px;
}